{% extends 'base.html' %}
 {% block script %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart0);

      function drawChart0() {

        var data0 = new google.visualization.DataTable();
        data0.addColumn('string', 'visa_type');
        data0.addColumn('number', 'visa_total');
        data0.addRows([


            ['{{total_visa.0.visa_type}}', {{total_visa.0.visa_total__sum}}],
            ['{{total_visa.1.visa_type}}', {{total_visa.1.visa_total__sum}}],
            ['{{total_visa.2.visa_type}}', {{total_visa.2.visa_total__sum}}],
            ['{{total_visa.3.visa_type}}', {{total_visa.3.visa_total__sum}}],
            ['{{total_visa.4.visa_type}}', {{total_visa.4.visa_total__sum}}],
            ['{{total_visa.5.visa_type}}', {{total_visa.5.visa_total__sum}}],
            ['{{total_visa.6.visa_type}}', {{total_visa.6.visa_total__sum}}],
            ['{{total_visa.7.visa_type}}', {{total_visa.7.visa_total__sum}}],
            ['{{total_visa.8.visa_type}}', {{total_visa.8.visa_total__sum}}],
            ['other visa', {{total_visa_countries}}]
            ]);

      var options0 = {'title':'Location(VISA) by male and Female',
              'width':1200,
              'height':500};

      var chart0 = new google.visualization.PieChart(document.getElementById('total'));
      chart0.draw(data0, options0);

      var selctHandler = function () {

          var selectedItem = chart0.getSelection()[0];
          var value = data0.getValue(selectedItem.row, 0);
          // alert('선택한 나라는' + value + '입니다');
          // location.href = "/visit/?country={{ country_group.country }}&yyyy=2017"
      };


            google.visualization.events.addListener(chart0,'select',selctHandler);
      }
         $(document).ready(function () {
             $('#btn').click(function () {
                 drawChart();
             });
         });
   // </script>

    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);



      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'visa_type');
        data.addColumn('number', 'visa_total');
        data.addRows([


            ['{{visa_m.0.visa_type}}', {{visa_m.0.visa_total}}],
            ['{{visa_m.1.visa_type}}', {{visa_m.1.visa_total}}],
            ['{{visa_m.2.visa_type}}', {{visa_m.2.visa_total}}],
            ['{{visa_m.3.visa_type}}', {{visa_m.3.visa_total}}],
            ['{{visa_m.4.visa_type}}', {{visa_m.4.visa_total}}],
            ['{{visa_m.5.visa_type}}', {{visa_m.5.visa_total}}],
            ['{{visa_m.6.visa_type}}', {{visa_m.6.visa_total}}],
            ['{{visa_m.7.visa_type}}', {{visa_m.7.visa_total}}],
            ['{{visa_m.8.visa_type}}', {{visa_m.8.visa_total}}],
            ['other_countries', {{visa_m_sum}}]

            ]);

        // Set chart options
        var options = {'title':'Location(VISA) by male',
                       'width':500,
                       'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('male_char'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart1);



      function drawChart1() {

        var data1 = new google.visualization.DataTable();
        data1.addColumn('string', 'visa_type');
        data1.addColumn('number', 'visa_total');
        data1.addRows([


            ['{{visa_f.0.visa_type}}', {{visa_f.0.visa_total}}],
            ['{{visa_f.1.visa_type}}', {{visa_f.1.visa_total}}],
            ['{{visa_f.2.visa_type}}', {{visa_f.2.visa_total}}],
            ['{{visa_f.3.visa_type}}', {{visa_f.3.visa_total}}],
            ['{{visa_f.4.visa_type}}', {{visa_f.4.visa_total}}],
            ['{{visa_f.5.visa_type}}', {{visa_f.5.visa_total}}],
            ['{{visa_f.6.visa_type}}', {{visa_f.6.visa_total}}],
            ['{{visa_f.7.visa_type}}', {{visa_f.7.visa_total}}],
            ['{{visa_f.8.visa_type}}', {{visa_f.8.visa_total}}],
            ['other_countries', {{visa_f_sum}}]

            ]);

        // Set chart options
        var options1 = {'title':'Location(VISA) by female',
                       'width':500,
                       'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart1 = new google.visualization.PieChart(document.getElementById('female_char'));
        chart1.draw(data1, options1);
      }
    </script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2">
        <a href="/location/country_group/{{visa_m.0.location}}">country_group</a><br>
        <a href="/location/{{visa_m.0.location}}">visa_group</a><br>
        <a href="/location/age_group/{{visa_m.0.location}}">age_group</a><br>
    </div>
    <div class="col-md-8 panel panel-default">
        <div style="position: absolute">

            <div id="total" style="float: left"></div>
            <div id="male_char" style="float: left"></div>
            <div id="female_char" style="float: left"></div>


        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

