<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>visa_group page</h1>
    <a href="/location/{{list.0.location}}">country_group</a> <a href="/location/visa_group/{{list.0.location}}">visa_group</a> <a href="/location/age_group/{{list.0.location}}">age_group</a><br>
    {% for visa_group in list %}
    {{ visa_group.gender }} {{ visa_group.visa_type }} {{ visa_group.visa_total }}<br>
    {% endfor %}

</body>
</html>